<!DOCTYPE html>
<html>
<head>
  <title>FairPair</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="header-container">
    <div id="left_header">
      <%= link_to(image_tag("fairpair_logo.png"), root_path) %>
    </div>
    <div id="right_header">
      <% if !logged_in? %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', new_sessions_path %>
      <% else %>
        <%= link_to 'Sign Out', sessions_path, :method => :delete %>
      <% end %>
    </div>
  </div>
</header>
<% if flash.present? %>
  <div class="flash_messages">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="content-container">
  <%= yield %>
</div>

</body>
</html>
